<ion-view view-title="Lời giới thiệu">
  <ion-content class="padding">
	<h3>Nguyễn Bính</h3>
	<img src="http://ttapi.esy.es/gtNguyenBinh/Nguyenbinh.jpg" alt="Nguyen Binh">
	<p>Nguyễn Bính (1918-1966) tên thật là Nguyễn Trọng Bính. Là một nhà thơ lãng mạn nổi tiếng của Việt Nam ông được coi như là nhà thơ của làng quê Việt Nam với những bài thơ mang sắc thái dân dã, mộc mạc. Sinh tại làng Thiện Vinh, huyện Vụ Bản, tỉnh Nam Định ông mồ côi mẹ từ nhỏ, tự học ở nhà, bắt đầu làm thơ từ năm 13 tuổi, được giải khuyến khích thơ của nhóm Tự Lực Văn Đoàn năm 1937 với tập thơ "Tâm hồn tôi". </p>

	<p>Ông tham gia kháng chiến chống Pháp tại Nam Bộ, tập kết ra Bắc năm 1954, làm việc tại Hội văn nghệ Việt Nam, Ty văn hóa thông tin Nam Hà. Năm 1958, Nguyễn Bính làm chủ bút báo Trăm hoa.</p>

	<p>Thơ Nguyễn Bính "chân quê", giản dị, mộc mạc, nhẹ nhàng, trong sáng, và hồn nhiên như ca dao trữ tình. Ông viết về làng quê qua lăng kính tình cảm lãng mạn, biểu lộ một tình quê, một hồn quê chân tình và gần gũi. Giáo sư Lê Đình Kỵ có nhận xét về thơ Nguyễn Bính: "Nổi bật lên ở Nguyễn Bính là ca dao, ở cảm xúc lẫn tư duy, ở cả ý, tình, và điệu,..."</p>

	<p>Tác phẩm tiêu biểu: </p>
	<ul>
		<li>- Lỡ bước sang ngang (1940)</li>
		<li>- Tâm hồn tôi (1940)</li>
		<li>- Hương cố nhân (1941)</li>
		<li>- Mây Tần (1942)</li>
		<li>- Người con gái ở lầu hoa (1942)</li>
		<li>- Bóng giai nhân (1942)</li>
		<li>- Tỳ bà truyện (1944)</li>
		<li>- Tình nghĩa đôi ta (1960)</li>
	</ul>
	<p>Giai thoại Nguyễn Bính tóm lược về cuộc đời sự nghiệp của nhà thơ Nguyễn Bính với những câu chuyện xung quanh của ông và những người bạn, giúp độc giả hiểu hơn về tính cách cũng như nghệ thuật của ông :)</p>
  </ion-content>
</ion-view>
