<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Thông tin</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Đóng </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <ul class="list">
      <li>Ứng dụng: Giai thoại Nguyễn Bính</li>
      <li>Tác giả: Thanh Tran</li>
      <li>Phiên bản: 0.0.2</li>
      <li>Email:  thanhrossi.tt@gmail.com</li>
      <li>Facebook: <a href="http://fb.me/thanhrossi">fb.me/thanhrossi</a></li>
      <li>Nguồn: <a href="http://vohinhlangtu.blogspot.com">blog votinhlangtu</a></li>
    </ul>
  </ion-content>
</ion-modal-view>
