<ion-view view-title="Chương 10">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Nô-en, En-nô</h4>
        <p>Dạo ấy ở phố Cửa Đông, Nam Định có một cửa hàng giải khát, chủ quán là cô Tiến, cũng khá duyên dáng. Cơ quan văn hóa ở gần đó, các nghệ sĩ ta cũng hay ra đấy chơi.</p>
        <p>Một hôm đúng vào ngày 25 tháng Chạp, tết Nô-en, Nguyễn Bính cùng mấy bạn vào quán chơi. Lúc ấy cô Tiến, chủ quán đang dở chuyện vui gì với mấy cô bạn ở buồng trong, chưa ra tiếp ngay, chỉ có tiếng cười rất to vọng ra. Nguyễn Bính bèn đọc đùa hai câu thơ:</p>
        <div class="poem">
            <p>Nô-en trong buồng En-nô</p>
            <p>Say sưa mặc khách, ngồi trơ phát phiền (1)</p>
        </div>
        <p>Đọc rồi, Nguyễn Bính đố các bạn làm tiếp sao cho hợp cảnh và chơi chữ cho đắt.</p>
        <p>Nguyệt Hồ bèn nhẩn nha đọc theo vần luôn :</p>
        <div class="poem">
            <p>Không đi thì dạ không yên</p>
            <p>Em TIÊN có sắc, anh TIÊN có khồng !</p>
            <p>Gần thôi giữa phố Cửa Đông,</p>
            <p>Từ TIÊN sắc đến TIẾN khồng, mà xa !</p>
        </div>
        <p>Nguyễn Bính phải thốt lên :</p>
        <p>- Nguyệt Hồ hóm lắm.</p>
        <p>Cô Tiến chủ quán ra, sau khi nghe rõ chuyện và nghe mấy câu thơ cũng khoái, pha ngay một ấm trà thật ngon thết các nghệ sĩ.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong9"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong11"></a>
        </div>
    </ion-content>
</ion-view>
