<ion-view view-title="Chương 24">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Giá cái đầu nhà thơ</h4>
        <p>Hồi ấy cuộc kháng chiến chống Pháp, Nguyễn VănThinh, thủ tướng chính phủ bù nhìn “Nam Kì tự trị” có treo một cái giải:</p>
        <p>- Ai đưa được nhà thơ Nguyễn Bính “dinh tê” ( vào thành) theo chính phủ (bù nhìn) sẽ được thưởng một nghìn Đông Dương! Nếu nhà thơ tự vào thành cũng được thưởng như thế...</p>
        <p>Về mặt nào đó, kể công nhận vị thủ tướng bù nhìn này biết giá trị cái đầu của nhà thơ Nguyễn Bính! Một nghìn đồng Dông Dương ngày ấy to lắm, là cả một cơ nghiêp.</p>
        <p>Nhiều thi sĩ là bạn Nguyễn Bính viết thư “thuyết khách’ mời Bính vào. Nhiều người cũng tưởng Nguyễn Bính vào thành với địch rồi. Vì lúc đó, nhà thi sĩ chúng ta đang lang thang phải ăn nhờ một nhà ông bạn ở Rạch Giá, và tối tối phải chui vào một cái nóp (bao cói) ra ngủ ở ngoài đình cho khỏi muỗi.</p>
        <p>Ấy vậy mà hồi đó, trong một bài thơ của mình, Nguyễn Bính đã viết hai câu thơ khẳng định:</p>
        <div class="poem">
            <p>Mình không bỏ Sở sang Tề,</p>
            <p>Mình không là kẻ lỗi thề , thì thôi.</p>
        </div>
        <p>Nhiều cụ già trong Nam hồi đó biết chuyện, gọi Nguyễn Bính là có ý chí của sĩ phu yêu nước.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong23"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong25"></a>
        </div>
    </ion-content>
</ion-view>
