<ion-view view-title="Chương 30">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Đề thơ “Nhà lăn Mê ly”</h4>
        <p>Vào những năm 1940 hoạ sĩ Hoàng Lập Ngôn (nhiều người đùa ông là Hoàng “lập dị”), nổi máu giang hồ, ông đóng một cỗ xe ngựa như một cái nhà lưu động. Ông dùng để đi khắp Bắc Trung Nam, sang cả Lào và Cao Miên, trên chiếc xe đó. Đi đến đâu thì kiếm ăn bằng nghề vẽ. Kí hiệu của ông là chiếc bánh xe lăn và ông đặt chiếc xe ngựa là “Nhà lăn Mê-ly”(1)</p>
        <p>Sáng hôm mùng 8 tháng 2 năm 1942, “Nhà lăn Mê-ly” xuất phát từ đền bà Kiệu – Hà Nội. Ra tiễn có nhiều bạn bè, nhà văn, nhà báo: Lê Tràng Kiều, Trương Tửu, Nguyễn Bính...</p>
        <p>Nhiều người có tặng phẩm cho chủ nhân như một tập giấy, một hộp màu, cây bút vẽ, có người tặng một chai nước mắm, một gói thuốc khô...</p>
        <p>Nguyễn Bính bèn bảo Hoàng Lập Ngôn đưa cho hộp mực mầu và bút vẽ, rồi viết lên thành xe 4 câu thơ tặng:</p>
        <div class="poem">
            <p>Đây chiếc “xe lăn” của bốn trời</p>
            <p>Trăng vàng chan chứa, gió mê tơi.</p>
            <p>Hôm nay xe lại lên đường nhỉ,</p>
            <p>Thoả máu giang hồ mặc sức chơi.</p>
        </div>
        <p>Bốn câu thơ trình bày như đôi câu đối trang trí trong xe. Lê Trang Kiều nhận xét:</p>
        <p>- Mấy chữ “trăng, gió, máu, chơi” được tô đậm, tác giả có ngụ ý gì đây?</p>
        <p>Hoàng Lập Ngôn cười:</p>
        <p>- Nó xỏ tôi “Máu trăng gió” chứ gì...</p>
        <p>Sau này, Hoàng Lập Ngôn kể lại với hoạ sĩ Nguyệt Hồ là đã ngâm nga suốt dọc đường “trường chinh” 4 câu thơ này rất thú vị.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong29"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong31"></a>
        </div>
    </ion-content>
</ion-view>
