<ion-view view-title="Chương 17">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Xuất khẩu thành thơ</h4>
        <p>Một lần Nguyệt Hồ cùng Nguyễn Bính đến chơi nhà Việt Quyên. Chủ nhà đang câu cá ngoài ao. Nguyễn Bính bảo Nguyệt Hồ đứng lại để mình đọc cho Việt Quyên giật mình. Rồi Bính sẽ đi đến sau lưng Nguyệt Hồ quát to lên 2 câu thơ:</p>
        <div class="poem">
            <p>Đành nhẽ làng văn chìm tiếng xuống</p>
            <p>Chỉ cần mặt nước nổi tăm lên.</p>
        </div>
        <p>Việt Quyên giật mình vì khi Nguyễn Bính đọc hai chữ đầu “Đành nhẽ”, Bính đọc to như quát, chân dậm bành bạch, và khi đọc đến chữ “Chỉ cần”, Bính sấn ra trước mặt, nhấc cần câu lên và đùa:</p>
        <p>-“Chỉ cần” là đình chỉ cái cần câu này lại, vào nhà tiếp khách, nghe chưa?</p>
        <p>Nguyệt Hồ và Việt Quyên phải khen tài xuất khẩu thành thơ của Nguyễn Bính. Ứng khẩu đùa bạn, mà chữ nghĩa đối nhau chan chát, lại hợp cảnh, hợp người như thế thật là tài!</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong16"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong18"></a>
        </div>
    </ion-content>
</ion-view>
