<ion-view view-title="Chương 5">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Xé thơ mình</h4>
        <p>Một lần Nguyễn Bính cùng Vũ Trọng Can đang đứng ở nhà số 20 phố Hàng Ngang Hà Nội, thấy có một đám ma đi qua. Người ta nói đó là đám tang một cô gái mới 16 tuổi đẹp nhất phố Hàng Đào, ai cũng xuýt xoa thương tiếc. Nhìn những cỗ xe tang trắng, đôi ngựa trắng, vòng hoa trắng, và những khăn xô trắng… đầy đường, hai nghệ sĩ rất xúc động.</p>
        <p>Chiều, Vũ Trọng Can làm xong một bài thơ đưa Bính xem, Bính không nói gì. Hôm sau, Nguyễn Bính đưa bài thơ của mình cho Can xem. Đó là bài “Viếng hồn trinh nữ”. Can bèn rút túi áo, xé bài thơ của mình đi và nói:</p>
        <p>- Ngày xưa Lý Bạch không làm thơ vịnh Lầu Hoàng Hạc vì trước đó đã có thơ của Thôi Hiệu rồi. Nay có bài thơ của cậu thì thơ mình nên xé đi! Cả bài đều hay nhưng mình thích nhất mấy câu:</p>
        <div class="poem">
            <p>… Có một chiếc xe màu trắng đục,</p>
            <p>Hai con ngựa trắng xếp hàng đôi.</p>
            <p>Đem đi một chiếc quan tài trắng,</p>
            <p>Và những vòng hoa trắng lạnh người.</p>
            <p>Theo bước, những người khăn áo trắng,</p>
            <p>Khóc hồn trinh trắng mãi không thôi.</p>
        </div>
        <p>Kể cũng là một chuyện biết người biết mình. Bởi vì đánh giá thơ mình thường rất khó.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong4"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong6"></a>
        </div>
    </ion-content>
</ion-view>
