<ion-view view-title="Chương 18">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Xướng họa</h4>
        <p>Ông Song Ly, tên thật là Xương Lợi do Nguyễn Bính đùa đặt là Song Ly cho có vẻ Tàu, vì ông này có dáng giống chú khách. Nhà ông ở xã Mĩ Tân, ngoại thành Nam Định. Ông song Ly rất thích thơ Nguyễn Bính và hay xướng hoạ, tuy thơ ông chưa hay.</p>
        <p>Hàng tuần, Nguyễn Bính cùng các bạn ra nhà ông Ly chơi, nhà ông rất mát, vườn rộng và nhất là lần nào ông Ly cũng làm món gì đánh chén. Lần này, Nguyễn Bính và Nguyệt Hồ ra chơinhà chẳng còn gì. Ông Ly cùng hai nghệ sĩ ta đi lục chạn bát, gầm giường xem có còn gì ăn tạm. May sao, ở cái bị treo lủng lẳng dưới bếp, còn mấy củ khoai tây và ổ gà đẻ có dăm quả trứng! Thế là ba vị, kẻ gọt khoai, người nhóm bếp làm một tiệc cò con...</p>
        <p>Rượu ngà ngà, ông Ly lại bắt Bính làm thơ để minh hoạ. Nể lời, Bính nói:</p>
        <p>- Thôi được:</p>
        <div class="poem">
            <p>Ăn khoai thì lấy vần khoai</p>
            <p>Song Ly ta gọi Song Lai cho vần</p>
        </div>
        <p>nhé!</p>
        <p>Và Bính đọc thơ luôn:</p>
        <div class="poem">
            <p>Có dăm quả trứng, nửa cân khoai</p>
            <p>Đánh chén cò con, giở miệng ngài</p>
            <p>Bạn đến chơi nhà trơ củ lẳng</p>
            <p>Thú gì thơ thẩn, hở ông Lai?</p>
        </div>
        <p>Nghĩ một lúc ông Song Ly hoạ lại:</p>
        <div class="poem">
            <p>Những năm hào trứng, bẩy hào khoai</p>
            <p>Ít đủ, nhiều no, hỡi các ngài?</p>
            <p>Tri kỉ, tri âm, thơ xướng hoạ</p>
            <p>Giàu sang, chữ nghĩa, thử vài lai?</p>
        </div>
        <p>Nguyễn Bính cười:</p>
        <p>- A, giọng thơ thách thức nhau lắm nhỉ? Đã vậy nghe tôi đọc đây.</p>
        <p>Và Bính đọc luôn một thôi ba bài, nhằm dùng hết chữ vần cho khó hoạ:</p>
        <div class="poem">
            <p>Nghe thơ chủ trại bứ hơn khoai</p>
            <p>Có khổ tai không hả các ngài</p>
            <p>Mà dám ti toe đòi xướng hoạ</p>
            <p>Ngôn từ lủng củng...lải lài lai...</p>
            <p>Những bao tiền trứng, mấy tiền khoai,</p>
            <p>Có đắt hay không, hỡi các ngài?</p>
            <p>Cái lão Song Ly cay nghiệt quá</p>
            <p>Đồng cân chẳng bớt một vài lai.</p>
            <p>Ra về chốc nữa nắng xiên khoai</p>
            <p>Mặt ủ, mày chau, xạm nét ngài</p>
            <p>Râu tóc bù xù trông gớm chết</p>
            <p>Phen này phải đến hiệu Xuân Lai (hiệu cắt tóc)</p>
        </div>
        <p>Bính cười giục:</p>
        <p>- Nào, hoạ đi chứ, ông chủ?</p>
        <p>Quả là ông chủ bí thật. Nguyệt Hồ bèn hoạ đỡ bạn:</p>
        <div class="poem">
            <p>Lâu nay cơm nước độn toàn khoai</p>
            <p>Lại kém đồ ăn...ngái ngải ngài</p>
            <p>Không khéo dạ dày queo quát lại</p>
            <p>Mà thân hình cũng oặt – xà – lai (gày còm)</p>
        </div>
        <p>Bính cười:</p>
        <p>- Khá lắm, còn phông không?</p>
        <p>Nguyệt Hồ lại đọc:</p>
        <div class="poem">
            <p>Đây không cần trứng chẳng cần khoai</p>
            <p>Xướng hoạ thơ chơi với các ngài</p>
            <p>Nếu bí thì đây lên Thượng Lõi</p>
            <p>Vui trò gà trọi với ông Lai</p>
        </div>
        <p>Nghe đâu ba người còn lai rai đến chiều và còn hoạ vần đến gần chục bài nữa, nhưng sau say tít, cũng nhàm.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong17"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong19"></a>
        </div>
    </ion-content>
</ion-view>
