<ion-view view-title="Chương 7">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Bắt chước Cao Bá Quát</h4>
        <p>Một hôm Nguyễn Bính và họa sĩ Nguyệt Hồ đến nhà Việt Quyên chơi. Nhà thơ Việt Quyên đang đọc tập thơ Cao Bá Quát, đang buồn cười về chuyện Cao Bá Quát đùa cái “khù khờ, khệnh khạng” của vua Tự Đức bằng bài thơ chữ Hán, mỗi câu xen vào một chữ nôm tiếng Việt (1).Việt Quyên khoe với các bạn và bảo Nguyễn Bính:</p>
        <p>- Anh chơi chữ cũng thạo lắm. Có thể bắt chước Cao Bá Quát làm một bài xem nào?</p>
        <p>Nguyệt Hồ đế thêm:</p>
        <p>- Bây giờ không làm Hán xen Nôm, mà làm Nôm xen “Đầm” cho hiện đại. (Mỗi câu tiếng Việt xen một tiếng Pháp).</p>
        <p>Nguyễn Bính cười, nhìn cụ Việt Quyên đang ngồi tay thủ bọc, tay vê ria và đọc:</p>
        <div class="poem">
            <p>Có cụ “vê-cu vê-ria”,</p>
            <p>Suốt ngày nghĩ chuyện “pờ-le-dia” suốt ngày.</p>
            <p>“Đờ manh” cụ cứ thế này,</p>
            <p>Dờ hồn kẻo lại có ngày “mò ria” (2)</p>
        </div>
        <p>Ba người cười phá lên vì cái chữ “Vê-cu-vê-ria” vừa viết tắt tên Việt Quyên (V.Q) vừa là tả bộ dạng Việt Quyên ngồi lúc ấy, lại nhấp nhoáng nghe như tiếng Tây thật.</p>
        <div class="note">
            (1) câu thơ của Cao Bá Quát đùa vua Tự Đức:
            <div class="poem">
                <p>“Khù khờ” thi tứ đa nhân thức,</p>
                <p>“Khệnh khạng” tương lai vấn tú tài.</p>
            </div>
            (2) “Pơ-le-dia” = plaisir, tiếng Pháp ý nói chuyện lạc thú.
            <div class="poem">
                <p>“Đờ manh” = deux mains, tiếng Pháp là hai tay</p>
                <p>“Mò-ria” = mourir, tiếng Pháp có nghĩa là chết. Nhưng mò ria còn có ý đi tìm râu.</p>
            </div>
        </div>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong6"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong8"></a>
        </div>
    </ion-content>
</ion-view>
