<ion-view view-title="Chương 8">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Thử làm thơ tục</h4>
        <p>Hôm ấy ở nhà Việt Quyên, mọi người đang bàn luận ca ngợi thơ Hồ Xuân Hương tục mà thanh, thanh mà tục, một hiện tượng độc đáo trong thi ca Việt Nam và cả thế giới, Nguyễn Bính đến sau, dáng điệu mệt mỏi lừ đừ, chắc đêm qua thức khuya.</p>
        <p>Nguyệt Hồ nói:</p>
        <p>- Đang bàn chuyện thơ Hồ Xuân Hương, mình làm một bài thơ tục, tả Nguyễn Bính, các ông nghe.
        </p>
        <p>Mọi người tán thành và Nguyệt Hồ đọc:</p>
        <div class="poem">
            <p>Văn nghệ hay là văn gừng</p>
            <p>Sao ông lửng khửng lừng khừng vậy ôi?</p>
            <p>Hai là tối đã tác rồi,</p>
            <p>Sáng tác không được mệt nhòai tứ chi ?</p>
        </div>
        <p>Mọi người khen hay vì chơi được chữ “văn nghệ, văn gừng”, “sáng tác- tối tác” và bắt Nguyễn Bính phải trả lời.</p>
        <p>Bính uống nước rồi cũng đọc:</p>
        <div class="poem">
            <p>“Sáng tác” hay là “tối tác” đây?</p>
            <p>Tối không tác đủ tác ban ngày!</p>
            <p>Xem ra sáng tác không bằng tối</p>
            <p>Tối tác, ông ơi, sướng gấp hai…</p>
        </div>
        <p>Ai nấy đều cười, chịu Bính là ứng tác giỏi.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong7"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong9"></a>
        </div>
    </ion-content>
</ion-view>
