<ion-nav-buttons side="right" ng-show="false">
    <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
    </a>
</ion-nav-buttons>
<ion-view view-title="Chương 3">
    <ion-content class="padding">
        <h4>Nhại Kiều</h4>
        <p>Hồi Nguyễn Bính mới 18 tuổi, lần đầu mang thơ ra Hà Nội, muốn đăng báo, có nhờ Nguyệt Hồ giới thiệu với Lê Tràng Kiều, chủ bút Tiểu thuyết thứ năm. Kiều gửi thiếp mời Bính và cả Nguyệt Hồ đi ăn cơm Tây ở Phú Gia để bàn chuyện cộng tác.
        </p>
        <p>Nhận thiếp mời, Nguyễn Bính hỏi Nguyệt Hồ:</p>
        <p>- Tuần sơ buổi mới, nên đi ăn hay chối từ?</p>
        <p>Nguyệt Hồ lúc ấy là họa sĩ lớn tuổi đã nổi danh, đang vẽ cho nhiều tờ báo. Câu hỏi của Nguyễn Bính có ý thăm dò tính cách ông chủ báo, chọn mặt gởi vàng.</p>
        <p>Nguyệt Hồ hỏi:</p>
        <p>- Có gì e ngại?</p>
        <p>Nguyễn Bính cười, đọc:</p>
        <div class="poem">
            <p>Sông sâu còn có kẻ dò,</p>
            <p>Những ông chủ báo, ai đo được lòng.</p>
        </div>
        <p>Nguyệt Hồ cũng cười, nói:</p>
        <p>- Hôm nay đến với “chàng Kiều”, nên tôi xin nhại Kiều với thi sĩ nhé”
        </p>
        <div class="poem">
            <p>Rằng từ thì chẳng anh hùng</p>
            <p>Dọc ngang “phóng sét”, vẫy vùng”cu lô” (1)</p>
        </div>
        cứ chén đi đã.
        <p>Tiểu thuyết thứ năm là tờ báo đăng bài thơ đầu tiên của Nguyễn Bính (bài Cô hái mơ) và cũng là tờ báo đăng nhiều thơ Nguyễn Bính nhất thời ấy.</p>
        <p class="note">(1) Từ có thể hiểu là Từ Hải trong Truyện Kiều, là từ chối và có thể hiểu là Trằng Kiều. “Phóng sét”, “cu lô” là đĩa và dao để ăn cơm Tây. </p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong2"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong4"></a>
        </div>
    </ion-content>
</ion-view>
