<ion-view view-title="Chương 12">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Đêm hội Ngô Sơn</h4>
        <p>Khoảng năm 1939-1940, Trúc Khê (Ngô Văn Thiện) nhân dịp rằm tháng tám ta, mời một số bạn thơ về chơi nhà mình gồm: Trần Huyền Trân, Nguyễn Bính, Ngân Giang. Đêm trung thu ấy, Trúc Khê bầy tiệc rượu, bánh trái, trải chiếu cạnh bể nước có hòn núi giả lớn để các bạn thưởng trăng, ngâm thơ. Mọi người đề nghị “Liên ngâm” với đầu đề Đêm hội Ngô Sơn.
        </p>
        <p>Chủ nhà mở đầu:</p>
        <div class="poem">
            <p>Non Ngô dưới ánh trăng rằm,</p>
            <p>Duyên may hội ngộ tri âm buổi này.</p>
        </div>
        <p>Huyền Trân tiếp:</p>
        <div class="poem">
            <p>Rượu nồng chưa nhấp men say,</p>
            <p>Nhưng tình đã thấy rót đầy lòng nhau.</p>
        </div>
        <p>Nguyễn Bính:</p>
        <div class="poem">
            <p>Chắc rằng gặp mãi nhau đâu!</p>
            <p>Duyên bèo nước có bền lâu bao giờ?</p>
        </div>
        <p>Ngân Giang:</p>
        <div class="poem">
            <p>Tiệc say dưới ánh trăng mờ,</p>
            <p>Tiệc sau e bóng người thơ lạc loài.</p>
        </div>
        <p>Trúc Kê cười:</p>
        <p>- Giọng nào ra giọng ấy. Bính vẫn “ma giáo” khác người và Ngân Giang nữ tính hay lo xa. Nhưng thôi:</p>
        <div class="poem">
            <p>Bàn chi những chuyện ngày mai,</p>
            <p>Thơ vui dâng trọn tình đời, một đêm!</p>
        </div>
        <p>Huyền Trân:</p>
        <div class="poem">
            <p>Mai ngày trăng sáng còn nên,</p>
            <p>Đời ly biệt mới biết duyên tương phùng?</p>
        </div>
        <p>Nguyễn Bính:</p>
        <div class="poem">
            <p>Uống cho say mãi, say cùng</p>
            <p>Nghìn năm ai thoát khỏi vòng biệt ly?</p>
        </div>
        <p>Ngân Giang:</p>
        <div class="poem">
            <p>Mai sau duyên hãy còn ghi,</p>
            <p>Năm năm xin gửi lòng về Ngô Sơn.</p>
        </div>
        <p>Trúc Khê cười:</p>
        <p>- Cám ơn tấm lòng trung hậu của nữ sĩ nhé !</p>
        <p>Và đọc tiếp:</p>
        <div class="poem">
            <p>Chênh vênh núi nhỏ một hòn,</p>
            <p>Lưu danh rồi sẽ nhớ ơn thi hào.</p>
        </div>
        <p>Huyền Trân:</p>
        <div class="poem">
            <p>Lững lờ trăng đã lên cao,</p>
            <p>Ha ha ! hãy rót trăng vào hồn ta !</p>
        </div>
        <p>Nguyễn Bính:</p>
        <div class="poem">
            <p>Trăng lên, trăng mãi không tà,</p>
            <p>Trăng lên, trăng mãi không già, không non.</p>
        </div>
        <p>Ngân Giang:</p>
        <div class="poem">
            <p>Tiệc tàn đêm, chén con con,</p>
            <p>Mai sau hãy nhớ trăng tròn đêm nay…</p>
        </div>
        <p>Nguyễn Bính dốc ngược chai rượu, cười :</p>
        <p>- nữ sĩ Sông Ngân thật tinh tế, rượu hết cho nên hạ câu “tiệc tàn”, chủ nhân có biết không ?</p>
        <p>Trúc Khê vội vào tiếp rượu, nhưng lúc ra thì chủ đề câu chuyện đã đổi và tứ thơ cũng tàn.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong11"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong13"></a>
        </div>
    </ion-content>
</ion-view>
