<ion-view view-title="Chương 22">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Ta là người Nam</h4>
        <p>Hồi trước cách mạng tháng Tám, một lần Nguyễn Bính được giải nhất cuộc thi thơ của một tờ báo lớn ở trong Nam. Ông chủ bút bảo Bính chuẩn bị phát biểu cảm tưởng bằng tiếng Pháp cho sang trọng, vì hôm đó sẽ có nhiều quan chức người Pháp đến tham dự.</p>
        <p>Hoàng Tấn, bạn thân với Nguyễn Bính đi mượn cho Bính một bộ com lê thật sang và soạn sẵn một bài tiếng Pháp cho Bính thật chu đáo. Bính mặc quần áo thử và đứng trước gương tập diễn thuyết cho Bính nghe cẩn thận.</p>
        <p>Đến buổi lễ trao giải, quả là có rất đông người Pháp và vợ chồng quan đốc lý cũng đến dự rất long trọng. Không biết nghĩ sao, lúc lên phát biểu Bính nói toàn tiếng Việt. Chủ báo cuống cuồng lên dịch cho các quan Tây nghe... Rồi viên đốc lý lên trao giải thưởng cho Nguyễn Bính, vợ tên đốc lý cũng lên tặng hoa và ôm hôn tác giả... Đến khi bắt tay Bính cũng nói:</p>
        <p>- Cảm ơn ông! – Chứ không nói tiếng Pháp thông thường: “Méc-xi mơ-xi-ơ”.</p>
        <p>Khi ra về Hoàng Tấn hỏi Bính:</p>
        <p>- Sao ở nhà thì cậu nói tiếng Tây cho ta nghe mà hôm nay cậu lại nói tiếng Ta cho người Tây nghe thế?</p>
        <p>Bính nói:</p>
        <p>- Đến lúc ấy mình nghĩ ta là người Nam cơ mà?</p>
        <p>Hoàng Tấn im lặng, nắm tay bạn đầy cảm mến.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong21"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong23"></a>
        </div>
    </ion-content>
</ion-view>
