<ion-view view-title="Chương 6">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Một tuyên ngôn về thơ</h4>
        <p>Trong phong trào thơ mới 1936-1945 có hai trường phái, một thì chủ trương cách tân triệt để, cả nội dung lẫn hình thức, tiêu biểu như Xuân Diệu, Nguyễn Vỹ, Phan Khôi… cho nên ta thấy nhiều bài thơ y như thơ Pháp, nhiều người gọi đùa là những “nhà thơ Tây lại”! Còn một chủ trương vẫn giữ lấy cái hồn dân tộc, nhóm nàyphần nhiều là những người xuất thân gần gũi với người lao động ở nông thôn như Nguyễn Bính, Đoàn Văn Cừ, Anh Thơ…</p>
        <p>Khi thấy nhóm kia tung ra các bài: Tình già, Cây đàn muôn điệu… như tuyên ngôn về thơ của phái mình, Nguyễn Bính bèn làm một bài thơ trả lời dưới dạng một bài thơ tình tế nhị. Đó là bài “Chân quê”, trong đó có câu:</p>
        <div class="poem">
            <p>… Hoa chanh nở giữa vườn chanh,</p>
            <p>Thầy u mình với chúng mình chân quê,</p>
            <p>Hôm qua em đi tỉnh về,</p>
            <p>Hương đồng gió nội bay đi ít nhiều…</p>
        </div>
        <p>Lúc này Nguyễn Bính mới 19-20 tuổi, kể đã có khuynh hướng như vậy thật đáng quý. Điều đó có thể giải thích vì sao nhà thơ Chân quê được quần chúng thích và thuộc thơ rộng rãi vào loại nhất đương thời.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong5"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong7"></a>
        </div>
    </ion-content>
</ion-view>
