<ion-view view-title="Chương 1">
	<ion-nav-buttons side="right" ng-show="false">
		<a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
		</a>
	</ion-nav-buttons>
  <ion-content class="padding">
	<h4>Một thần đồng</h1>
	<p>Năm 1931, ở làng Thiện Vịnh, Vụ Bản, Nam Định, người ta đồn ầm lên là có một thần đồng! Đó là một cậu bé mười ba tuổi được giải nhất trong cuộc thi hát trống quân đầu xuân ở hội làng. Mà oái ăm, người thứ nhì là một cụ lão bà ngoài bảy mươi tuổi, đầu tóc bạc phơ.
Cậu bé đó là Nguyễn Bính và bà cụ già Nguyễn Thị Chanh.
</p>
	<p>Chẳng là từ mùng 6 đến mùng 8 tháng giêng ta, cùng dịp hội Phủ, làng tổ chức thi hát trống quân ở ngay sân đình, một bên nam, một bên nữ. Cụ Chanh gà cho bên nữ, Bính gà cho bên nam. Hát đối đáp nhau, hỏi đối nhau suốt đêm. Cuối cùng bên nam thắng cuộc
chính là nhờ câu hỏi đáp rất hay của Nguyễn Bính.
</p>
	<p>Ngày nay, các anh chị hồi ấy (bây giờ là các cụ già cả rồi) còn nhớ mấy câu sau đây:</p>
	<div class="poem">
		<p>… Anh đố em này:</p>

		<p>Làng ta chưa vợ mấy người?</p>

		<p>Chưa chồng mấy ả, em thời biết không</p>

		<p>Đố ai đi khắp Tây Đông,</p>

		<p>Làm sao kiếm nổi tấm chồng như chúng anh đây?</p>

		<p>Làm sao như rượu mới say,</p>

		<p>Như giăng mới mọc, như cây mới trồng?</p>

		<p>Làm sao như vợ như chồng?</p>

		<p>Làm sao cho thỏa má hồng răng đen?</p>

		<p>Làm sao cho tỏ hơn đèn?</p>
		 
		<p>Làm sao cho bút gần nghiên suốt đời?</p>

		<p>Làm sao? Anh khen em tài?</p>

		<p>Làm sao? Em đáp một lời, làm sao…?</p>
	</div>
	<p>Câu đố mà lại như câu hát, thật trữ tình, thật thơ mộng và thật khó trả lời, làm bên nữ chỉ mải cười rúc rích, đấm nhau thùm thụp và rồi… sau năm phút, mười phút, sau ba hồi trống dài, bên nữ không đáp được! Thế là các già làng chấm bên nam thắng. Bọn con trai
sung sướng hò vang, kiệu Nguyễn Bính lên vai đi khắp vòng đình.
</p>
	<p>Có lẽ những ngày thơ ấu, những câu hát đồng quê ấy đã tạo nên cái chất Nguyễn Bính, nhà thơ “chân quê” của chúng ta sau này.</p>
	
	<div class="button-bar">
		<a class="button disable icon ion-chevron-left"></a>
		<a class="button" href="#/app/chaplists">DS chương</a>
		<a class="button icon ion-chevron-right" href="#/app/chuong2"></a>
	</div>
  </ion-content>
</ion-view>
