<ion-view view-title="Chương 31">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Bài thơ bị sái</h4>
        <p>Cuối năm 1965, năm kỷ niệm 200 năm sinh Nguyễn Du – Nguyễn Bính làm việc sôi nổi, hào hứng đặc biệt. Anh thuộc truyện Kiều từ đầu chí cuối – vốn coi cụ Tiên Điền như một vị tổ sư – nên chuẩn bị việc kỷ niệm này, Nguyễn Bính viết không mỏi, anh viết Bài ca quê hương, ca ngợi đất nước mình có nền nhạc, nền thơ, có kho tàng văn học dân gian đồ sộ. Và "Có Nguyễn Du và có một truyện Kiều". Phải chỉ "có một truyện Kiều" mà thôi.</p>
        <p>Chuẩn bị số báo Tết Nguyên Đán năm Bính Ngọ ấy, chúng tôi cũng dành rất nhiều bài về Nguyễn Du, từ chính luận đến các bài sáng tác, các chuyện giai thoại về Nguyễn Du và Kiều. Các hôm duyệt bài báo Tết, anh em cảm thấy như Tết đã đến rồi. Nguyễn Bính khỏe, tươi, tay thủ một tập giấy mỏng. Anh khoe: Trong một đêm, đã viết được một bài tập Kiều, vịnh cụ Tiên Điền. Anh không cho ai xem chờ lúc ra hội đồng đủ mặt mới trịnh trọng giở trang giấy viết công phu – chữ đẹp như xếp, rồi hắng giọng ngâm nga.</p>
        <div class="poem">
            <p>Kính tặng cụ Nguyễn Du và truyện Kiều</p>
            <p>Cảo thơm lần giở trước đèn</p>
            <p>Là nhiều vàng đá, phải tìm trăng hoa</p>
            <p>Trăm năm trong cõi người ta</p>
            <p>Một thiên tuyệt bút, gọi là để sau</p>
            <p>Khen tài nhả ngọc phun châu</p>
            <p>Mười lăm năm ấy biết bao nhiêu tình</p>
            <p>Mấy lời ký chú đinh ninh</p>
            <p>Rằng tài nên trọng mà tình nên thương</p>
            <p>Khen rằng giá đáng Thịnh Đường</p>
            <p>Thì treo giải nhất, chi nhường cho ai</p>
            <p>Gẫm câu người ấy, báu này</p>
            <p>Nghe ra ngậm đắng nuốt cay thế nào</p>
            <p>Nặng vì chút nghĩa xưa sau</p>
            <p>Mà cho thiên hạ trông vào cũng hay</p>
            <p>Thương vui bởi tại lòng này</p>
            <p>Tan sương đầu ngõ, vén mây cuối trời</p>
            <p>Lòng thơ lai láng bồi hồi</p>
            <p>Tưởng người nên lại thấy người về đây...</p>
        </div>
        <p>Cả hội đồng duyệt bài số báo tết hôm ấy cùng lặng đi. Bài tập Kiều thật hay. Nhưng nghe ra...đây tuy đề tặng cụ Tiên Điền, mà sao cứ như tâm sự của Nguyễn Bính, tổng kết cái cuộc đời thơ tài hoa, long đong lận đận và những câu sau cùng, sao mà nó sái quá. Một lời là một vận vào, khó nghe.</p>
        <p>Nguyễn Bính cười trừ:</p>
        <p>- Các ông mê tín! Cứ hay là được rồi.Tôi xin nộp bài này. Một câu một chữ không sửa.</p>
        <p>Câu chuyện qua đi. Những ngày sắp Tết mưa dầm và làm việc bận rộn. Mọi người gắng làm xong việc, về gia đình vui tết với vợ con, cái tết chống Mỹ, nhưng có đủ bánh chưng giò nạc. Nguyễn Bính có chương trình khác. Cái máu giang hồ vặt lại nổi lên. Anh muốn tạo ra một xuân tha hương nữa. Tha hương đây không phải là nơi cách trở ngàn dặm, mà là một làng ở ngay huyện Lý Nhân, ở đây anh có một người bạn yêu thơ, nhà làm thuốc đông y. Hai vợ chồng ngỏ ý mời từ lâu. Nguyễn Bính chọn ngày giáp tết. Anh xắn cao quần, pha đường bùn đất, lặn lội tới chơi. Chủ nhà cảm động đến rơi nước mắt. Cái tết "tha hương" này, hẳn là ấm cúng, tình bạn, tình người. Ngờ đâu...</p>
        <p>Sáng 30 tết. Nguyễn Bính ra vườn chơi. Một luồng gió lạnh. Anh rùng mình, thổ huyết rồi ngất xỉu. Gia đình chủ nhà hết lòng chạy chữa. Nhưng không kịp nữa rồi.</p>
        <div class="poem">
            <p>Tân Thanh đáo để, vị thùy hương</p>
            <p>(Tân Thanh sau hết, ngậm ngùi vì ai...)</p>
        </div>
        <p>Nhà văn Chu Lai thuật lại: “Mồng sáu tháng giêng ta, tôi lên Hội Nhà văn thông báo về việc anh Bính mất. Gặp Tô Hoài, cùng ngậm ngùi nói chuyện về người bạn mới mất. Sau đó, tôi tìm đến nhà Trần Lê Văn. Nghe tin Bính mất, Trần Lê Văn tròn xoe đôi mắt kinh ngạc.</p>
        <p>- Bính chết thật ư? Bao giờ?</p>
        <p>- Ba mươi Tết, trước giao thừa.</p>
        <p>Trần Lê Văn bỗng xỉu mặt, đấm vào đùi đánh bịch:</p>
        <p>- Biết mà! Biết mà. Chết trước mồng một – đã lường thấy từ bao giờ rồi.</p>
        <p>Tôi gặng:</p>
        <p>- Sao anh nói vậy?</p>
        <p>Trần Lê Văn nói như gắt:</p>
        <p>- Ô kìa! "Năm mới tháng giêng mồng một Tết. Còn nguyên vẹn cả một mùa xuân". Nó để mùa xuân nguyên vẹn cho người. Nó đi mà.”</p>
        <p>Tôi sực nhớ bài tập Kiều "Lời lời lệ sa máu rỏ" đăng trân trọng trong số báo Tết. Ôi! Thương quá. Chẳng lẽ trong thơ có quỷ, có ma thật chăng?</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong30"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong32"></a>
        </div>
    </ion-content>
</ion-view>
