<ion-view view-title="Chương 13">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Thất tình, họa sĩ thành thi sĩ</h4>
        <p>Họa sĩ Nguyệt Hồ hồi trẻ đẹp trai và nổi tiếng tài hoa, được cô Kim Bảo ở Hàng Nâu cùng phố yêu. Cô Bảo con nhà giàu cũng nổi tiếng là hoa khôi thành Nam hồi ấy. Nhưng do nhiều trắc trở và nhất là do chuyến đi xa của anh (đi Hồng Kông), lúc về cô Bảo đã có chồng! Quá trình yêu đương, họa sĩ đã làm 3 bài thơ tình được 3 thi sĩ vào loại “kiện tướng” khen ngợi.</p>
        <p>Kể cũng hay.</p>
        <p>Bài thứ nhất tả em:</p>
        <div class="poem">
            <p>“Trong vườn có bông hoa tươi,</p>
            <p>Bên song em nhoẻn miệng cười…</p>
            <p>Đau lòng hoa lắm, em ơi</p>
            <p>Vì chưng hoa thẹn người người?</p>
            <p>Một nụ em cười,</p>
            <p>Đẹp biết mấy mươi.</p>
            <p>Vì em, anh thổn thức.</p>
            <p>Vì hoa, em ngậm ngùi.</p>
            <p>Vì em, anh hận lòng đau khổ,</p>
            <p>Vì em, hoa tủi, cánh hoa rơi…”</p>
        </div>
        <p>Thi sĩ Nguyễn Vỹ khen nức nở và đăng ngay lên báo Pháp-Việt của ông.</p>
        <p>Bài thứ hai tả cảnh xa nhau</p>
        <div class="poem">
            <p>“Sen tàn rụng</p>
            <p>Thu đã qua</p>
            <p>Anh đi đi mãi</p>
            <p>Mình em dưới bóng thu tà.</p>
            <p>Mờ mắt nhìn anh, em chỉ thấy</p>
            <p>Mịt mù thăm thẳm chân trời xa…</p>
            <p>Trời xa, trông chẳng thấy anh đâu</p>
            <p>Bát ngát hương thu tỏa kín sầu.</p>
            <p>Tơi tả lá vàng rơi trước gió,</p>
            <p>Vô tình gió xịch bức rèm châu…”</p>
        </div>
        <p>Tản Đà rất thích bài này, ông đã trích dẫn khi phê bình thơ.</p>
        <p>Bài thứ ba, khi tan vỡ tuyệt vọng:</p>
        <div class="poem">
            <p>“Anh buồn buồn quá đi thôi,</p>
            <p>Vì em đã có chồng rồi còn chi!</p>
            <p>Trăm năm còn có duyên gì,</p>
            <p>Họa còn vương mối sầu bi trong lòng</p>
            <p>Từ đây mây nước mịt mùng,</p>
            <p>Bao giờ còn thấy bóng hồng vào ra.</p>
            <p>Em đi có nhớ chăng là,</p>
            <p>Lỡ làng một phút mà xa một đời !</p>
            <p>Anh buồn buồn quá đi thôi,</p>
            <p>Vì em đã có chồng rồi, còn chi !”</p>
        </div>
        <p>Nguyễn Bính đọc thơ, biết chuyện, nói:</p>
        <p>- chỉ ba bài này, họa sĩ thành thi sĩ rồi đấy.</p>
        <p>Và làm thơ tặng Nguyệt Hồ:</p>
        <div class="poem">
            <p>“Thất tình họa sĩ thành thi sĩ,</p>
            <p>Thi sĩ khen cho họa sĩ tài</p>
            <p>Ba bức tranh thơ, ba tuyệt tác,</p>
            <p>“Nước trăng còn mãi nước trăng soi” (1)</p>
        </div>
        <div class="note">
            (1) “Nước trăng” là biệt hiệu Nguyệt Hồ, thường ký hiệu dưới các tác phẩm một vầng trăng chênh chếch với 3 làn nước song song.
        </div>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong12"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong14"></a>
        </div>
    </ion-content>
</ion-view>
