<ion-view view-title="Chương 25">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Người sửa thơ Nguyễn Bính</h4>
        <p>Nhiều nhà thơ, nhà văn khi đã nổi tiếng, ai sửa chữa văn thơ mình thì khó chịu lắm, nhất là người phê bình lại chưa có cương vị gì:</p>
        <div class="poem">
            <p>Xưa nay thế thái nhân tình</p>
            <p>Vợ người thì đẹp, văn mình thì hay!</p>
        </div>
        <p>Ngược lại, Nguyễn Bính làm thơ xong bài nào cũng đọc lại cho bạn bè, người chung quanh nghe, ai góp ý là nghiền ngẫm sửa lại. Nếu ta xem các bản thảo, gốc thì rất rõ, những câu thơ tác giả sửa đi sửa lại, như các bài: “Sao chẳng về đây” và nhiều bài khác.</p>
        <p>Thú vị nhất có một lần, Nguyễn Bính làm bài thơ về vợ con ở Miền Nam, trong đó có câu:</p>
        <div class="poem">
            <p>Lao trong lửa đạn bời bời,</p>
            <p>Vợ tôi ôm chặt con tôi vào lòng.</p>
            <p>Thương con lại nhớ lời chồng,</p>
            <p>Lấy thân làm bức thành đồng cho con...</p>
        </div>
        <p>Đến khi in thử, thợ nhà in xếp chữ lầm thành:</p>
        <div class="poem">
            <p>Lấy thân làm bức thành đồng che con.</p>
        </div>
        <p>Mọi người đùa là công nhân dám sửa thơ của thi sĩ! Và đề nghị sửa chữa lại nhưng Nguyễn Bính xem bản in thử nói</p>
        <p>- Công nhân họ sửa thơ mình hay hơn lên đấy. Che con có hình ảnh và gợi cảm hơn, không cần đính chính đâu.</p>
        <p>Mọi người, kể cả anh thợ nhà in rất thích thú và cũng rất phục Nguyễn Bính.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong24"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong26"></a>
        </div>
    </ion-content>
</ion-view>
