<ion-view view-title="Chương 19">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Tri âm của nhà thơ</h4>
        <p>Đó là ông Trần Quốc Lai ở Thượng Lỗi, ngoại thành Nam Định. Nguyễn Bính gọi ông bằng nhiều tên đùa cợt. Trước ông làm ở toà án thời Pháp, tiếng Tây như gió, Bính gọi ông là "thầy phán Tây". Ông mê gà chọi, nhà ông là một sới gà chọi chơi đã mấy đời, các giới nghệ sĩ thuật tứ chiếng khắp Trung Nam Bắc về đây cũng đông (gà chọi cũng là một môn nghệ thuật) Bính gọi ông là “nghệ sĩ gà”. Sinh thời Nguyễn Bính coi ông Lai như là một “tiểu Mạnh Thường Quân” của mình. Những khi thất bại trong trường đời, trong tình ái, đói rét, cô đơn... Nguyễn Bính lại về nhà ông Lai nghỉ ngơi, tâm sự. Nhiều bài thơ (chưa đăng báo), nhiều câu chuyện, nhiều bút tích của Nguyễn Bính chỉ một ông Lai biết thôi.</p>
        <p>Cái đặc biệt là cho đến nay (1989), ông Lai đã già lắm, 85 tuổi, mắt đã loà, đi phải chống gậy, tính tình hơi “ lẩn thẩn”, nói trước quên sau, nhưng riêng thơ Nguyễn Bính ông vẫn thuộc lầu lầu. Hỏi đến bài nào, ông đọc từ đầu chí cuối, không lẫn. Ông có những nhận xét về thơ Nguyễn Bính khá tinh tế. Ông nói:</p>
        <p>- Thơ Nguyễn Bính có cái lạ, tách riêng ra một hai câu có thể đứng được như một bài thơ hoàn chỉnh. Ví dụ:</p>
        <div class="poem">
            <p>Gió mưa là bệnh của trời,</p>
            <p>Tương tư là bệnh của tôi yêu nàng...</p>
            <p>Dẫu rằng một cánh, cũng hoa,</p>
            <p>Dẫu rằng một nửa, cũng là trái tim.</p>
        </div>
        <p>Và ông đặt tên đầu bài cho các câu thơ ấy. Ví như bài” Tìm nàng” có các câu sau:</p>
        <div class="poem">
            <p>Dừng chân trước cửa nhà nàng</p>
            <p>Thấy hoa vàng với bướm vàng bên nhau.</p>
            <p>Tìm nàng chẳng thấy nàng đâu,</p>
            <p>Lá rơi lả tả bên lầu như mưa...</p>
        </div>
        <p>Hoặc ông đặt đầu bài “Tuổi son” cho mấy câu dưới đây:</p>
        <div class="poem">
            <p>Thế là tàn một giấc mơ,</p>
            <p>Thế là cả một bài thơ não nùng.</p>
            <p>Tuổi son má đỏ môi hồng,</p>
            <p>Bước chân về đến nhà chồng là thôi!</p>
        </div>
        <p>Theo ông Lai, Thơ Nguyễn Bính rất nhiều đạt đến toàn bích như: Mưa xuân, Thời trước, Tương tư, Viếng hồn trinh nữ, Oan nghiệt, Xóm ngự viên, Truyện cổ tích, Những bóng người trên sân ga, Cô hái mơ, Cô lái đò... Kẻ đánh giá thơ thì mỗi người một khẩu vị chủ quan, nhưng xem ra sự thẩm thơ của ông về Nguyễn Bính cũng thật xác đáng.</p>
        <p>Trước đây rất lâu (hơn 20 năm) trước khi người ta tranh nhau sưu tầm, tuyển chọn, tái bản đi tái bản lại thơ Nguyễn Bính, lúc Bính đang khó khăn ba đào, ông Lai đã khẳng định trước các bạn như Nguyệt Hồ, Phong Giao, Trần Khuê, Việt Quyên:</p>
        <p>- Nguyễn Bính rất lớn, thế nào rồi nhân dân cũng đánh giá lại, đúng giá trị của thơ Bính…</p>
        <p>Quả nhiên, nay đã trở thành sự thật,</p>
        <p>Thiển nghĩ, chuyện này nào khác chuyện Bá Nha với Tử Kì thời xưa?</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong18"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong20"></a>
        </div>
    </ion-content>
</ion-view>
