<ion-view view-title="Chương 16">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Lại chơi chữ</h4>
        <p>Ông giáo H. rất thích thơ Nguyễn Bính. Ông đã cớ vợ nhưng có yêu một người cô đầu hát tên là Duyên. Cô này cũng rất sính thơ. Ông giáo là người cầm trống chầu giỏi và làm thơ cũng khá, ông thường viết bài cho cô Duyên hát. Một hôm ông giáo H mời Nguyễn Bính và Nguyệt Hồ đi một chầu hát ả đào ở nhà cô Duyên phố On Rợp. Sau khi say sưa, bên bàn đèn ông giáo H đề nghị làm thơ liền ngâm chơi.</p>
        <p>Nguyệt Hồ lớn tuổi hơn cả, đọc mở đầu một câu chơi chữ thật khó:</p>
        <div class="poem">
            <p>Dặn dò dì gió giữ gìn Duyên (1)</p>
        </div>
        <p>Nguyễn Bính đọc ngay:</p>
        <div class="poem">
            <p>Hứa hẹn hàn huyên hóa hão huyền</p>
        </div>
        <p>Cô Duyên nghĩ một lúc cũng đọc:</p>
        <div class="poem">
            <p>Lầm lỡ, lơ là lòng lạnh lắm!</p>
        </div>
        <p>Ông giáo H làm câu kết:</p>
        <div class="poem">
            <p>Tâm tình tơ tưởng tới toà tiên.</p>
        </div>
        <p>Nguyễn Bính cười:</p>
        <p>- Câu kết có tâm trạng vơ vào. Nhưng tôi nghĩ giá đổi vài chữ thì khoái tai hơn, có thể là:</p>
        <div class="poem">
            <p>Tòm tem toan tính tới tòa tiên</p>
        </div>
        <p>Mọi người đều cười, đề nghị cô Duyên hát ngâm lại. Ông giáo đánh trống trầu, giơ cao tay một cách thích thú.</p>
        <p class="note">(1) “Dì gió” dịch theo chữ Hán: Phong-di, còn có hàm ý nữ khách phong tình.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong15"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong17"></a>
        </div>
    </ion-content>
</ion-view>
