<ion-view view-title="Chương 26">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Cái bướu nghệ sĩ</h4>
        <p>Đó là những cái người đời thường cho là lập dị, thậm chí là dở hơi! Nhưng xem ra đã là nghệ sĩ, thường không ai không có cái “ bướu” ấy. Nghệ sĩ càng lớn, cái “Bướu” càng to. Như Ni -Tơn khoét hai lỗ cho hai con mèo dễ ra vào. Tản Đà lật mấy viên gạch hoa nhà bạn lên trồng rau húng...</p>
        <p>Một hôm Nguyễn Bính tiếp khách ở nhà mình, có Nguyệt Hồ, Việt Quyên, Phong Giao đến chơi, xem ra chẳng vị nào có một xu dính túi. Nguyễn Bính nghĩ cách tiếp bạn. Biết Nguyệt Hồ nghiện nặng thuốc lá, Nguyễn Bính phân công Việt Quyên đi nhặt các mẩu thuốc lá vứt trong gạt tàn gầm bàn, gầm tủ gom lại. Phong Giao đi đổ bã chè ở các ấm to, các ấm nhỏ ra. Nguyễn Bính nhóm bếp sao bã chè lên. Ông nói:</p>
        <p>- Chè sao lại, nước ngon chỉ kém “Chính Thái”. Nhưng còn hơn chè hâm lại, các vị ạ!</p>
        <p>Sau đó các mẩu thuốc lá cũng được xé ra, cho lên nồi rang sao. Nguyễn Bính cũng bảo:</p>
        <p>- Thuốc lá sao lại đậm ngon hơn chính phẩm, họa sĩ thử mà xem.</p>
        <p>Nguyệt Hồ cho cho thuốc vào píp phì phèo rồi đọc đùa mấy câu thơ :</p>
        <div class="poem">
            <p>Thuốc lá hay là “xỏ lá” đây!</p>
            <p>Yêu cầu ông Bính trả lời ngay?</p>
            <p>Hay thương thằng bạn cơn nghiền đến</p>
            <p>Chẳng có tiền mua, chửa đủ say...</p>
        </div>
        <p>Trong khi sao tẩm, Nguyễn Bính đã bảo Phong Giao tháo một chiếc bóng điện duy nhất của nhà mình ra chợ bán, mua rượu. Thế là thi sĩ tiếp các bạn cũng đủ chè, thuốc, rượu như ai! Nguyễn Bính tức cảnh:</p>
        <div class="poem">
            <p>Khô chè, sao lại chè khô</p>
            <p>Ai quăng thuốc xuống, ta mò thuốc lên.</p>
            <p>Một khi nghệ sĩ túng tiền,</p>
            <p>Làm sao cho thoả cơn nghiền thì thôi.</p>
        </div>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong25"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong27"></a>
        </div>
    </ion-content>
</ion-view>
