<ion-view view-title="Chương 11">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Một nhà thơ, hai tác giả</h4>
        <p>Việt Quyên là bạn thân của Nguyễn Bính và Nguyệt Hồ. Ông vốn là cán bộ văn hóa của Công đoàn nhà máy dệt Nam Định. Ông cũng có một số bài thơ được đăng rải rác ở các báo chí trung ương và địa phương. Khi về hưu, ông đùa với các bạn là mình chán làm văn nghệ rồi, ông có nghề đánh bẫy chim nên sẽ đi đánh bẫy chim, kiếm ăn…</p>
        <p>Một hôm ba người đang ngồi uống nước ở nhà Việt Quyên thì cao hứng Nguyệt Hồ đọc mấy câu thơ tặng Việt Quyên :</p>
        <div class="poem">
            <p>Bẫy chim, nghề ấy sướng bằng tiên !</p>
            <p>Đánh chén thì ngon, bán được tiền.</p>
            <p>Đỏ có chào mào, đen sáo sậu,</p>
            <p>Nực thì se sẻ, rét vành khuyên…</p>
        </div>
        <p>Đọc đến đây Nguyệt Hồ bí, bảo Nguyễn Bính tiếp. Bính bèn đọc luôn</p>
        <div class="poem">
            <p>Đã quăng bút, chạy làng văn nghệ !</p>
            <p>Còn xách lồng theo lũ thiếu niên ?</p>
            <p>Bác với loài chim thù bất cộng (1)</p>
            <p>Mà sao tên bác lại là Quyên ?</p>
        </div>
        <p>Việt Quyên cười ha hả, phê rằng :</p>
        <p>- Bốn câu thơ trên mô tả hiền lành, đúng dạng họa sĩ thích màu sắc. Bốn câu dưới, gây sự cà khịa, đúng là cái chất của Bính. Nhịp điệu thay đổi tưởng như xộc xệch, thế mà đối chỉnh. Hay !</p>
        <p>Việt Quyên mở chai rượu rót mời hai bạn.</p>
        <p class="note">(1) “Thù bất cộng đới thiên” là thù không đội trời chung. Quyên là tên chim Đỗ Quyên, chim cuốc cuốc.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong10"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong12"></a>
        </div>
    </ion-content>
</ion-view>
