<ion-view view-title="Chương 32">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Những người yêu thơ thiết thực</h4>
        <p>Hồi Nguyễn Bính theo Ty văn hoá Nam Hà sơ tán về xã Nhân Nghĩa, nhân dân địa phương biết là nhà thơ Nguyễn Bính ở đây nên hay đến tiếp xúc và lấy làm thú vị là được quen biết nhà thơ của quê hương.</p>
        <p>Có ông B là thợ cắt tóc, không bao giờ lấy tiền cắt tóc nhà thơ. Đáp lại, Nguyễn Bính thường cắt những bài thơ đăng báo của mình và cả những bài chưa đăng báo tặng ông. Ông B dán ngay lên vách cửa hàng. Hiệu cắt tóc của ông B từ đó rất đông khách, có lẽ một phần khách đến chỉ cốt mong được đọc thơ của Nguyễn Bính. Âu cũng là sự “có đi có lại”một cách ngẫu nhiên.</p>
        <p>Cô lái đò sông châu là cô T cũng vậy, không bao giờ lấy tiền đò thi sĩ. Có lần Nguyễn Bính hỏi cô đã đọc bài thơ “Cô lái đò” của ông chưa. Cô nói đọc rồi và đọc luôn cho ông nghe. Một hôm, cô thú thực với ông là cô cũng có một mối tình gần như thế, nhưng đã 5 năm anh ấy đi bộ đội chưa về mà cô chưa hề “lỗi ước với tình quân”! Nguyễn Bính cảm động có làm một bài thơ mới “Cô lái đò ngày nay” tặng cô (tiếc là chưa sưu tầm được). Khi nghe tin Nguyễn Bính mất cô đã khóc nức nở và nói với Chu Văn, nguyên trưởng Ty văn hóa Nam Hà:</p>
        <p>- Giá chết thay được thì cháu xin tự nguyện chết thay để bác ấy sống, bác ấy làm thơ.</p>
        <p>Bà chủ nhà mà Nguyễn Bính ở nhà nhờ, nhà cũng nghèo thôi, nhưng trong vườn mùa nào thức ấy, khi trái bưởi, lúc tấm mía, lúc củ khoai luôn trân trọng mời Nguyễn Bính ăn, bà nói là “cây nhà lá vườn”, gọi là “bồi dưỡng” nhà thơ… Khi Nguyễn Bính mất bà đã thắp hương cúng 1 tuần cho thi sĩ…</p>
        <p>Người nghệ sĩ chân chính nào chẳng mong muốn có những độc giả chân tình như thế.</p>
        <p>HẾT</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong30"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button disable icon ion-chevron-right"></a>
        </div>
    </ion-content>
</ion-view>
