<ion-view view-title="Chương 9">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Nhà thơ bị lỡm</h4>
        <p>Họa sĩ Nguyệt Hồ mời nhà thơ Nguyễn Bính đến chơi nhà. Trước đó họa sĩ đã vẽ một miếng dưa hấu đặt vào đĩa ở bàn.</p>
        <p>Giữa chiều hè nóng nực, nhà thơ đến, đang khát, thấy miếng dưa hấu để trong đĩa thật ngon, định cầm ăn luôn. Nguyệt Hồ cười phá lên, Nguyễn Bính còn sờ vào đĩa một lần nữa mới biết mình bị lỡm.</p>
        <p>Nguyễn Bính bèn ứng khẩu:</p>
        <div class="poem">
            <p>Chán cho họa sĩ Nguyệt Hồ</p>
            <p>Đãi bạn dưa thật, ai ngờ giấy dưa</p>
        </div>
        <p>Nguyệt Hồ cũng đọc tiếp luôn:</p>
        <div class="poem">
            <p>Buồn cười Nguyễn Bính – nhà thơ</p>
            <p>Háu ăn bị lỡm tranh dưa Nguyệt Hồ.</p>
        </div>
        <p>Hai người cùng cười, nhưng rồi họa sĩ cũng mang một đĩa dưa hấu thật ở trong nhà ra thết bạn.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong8"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong10"></a>
        </div>
    </ion-content>
</ion-view>
