<ion-view view-title="Chương 20">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Làm thơ mua được xe đạp cung cấp</h4>
        <p>Hồi kháng chiến chống Mĩ, Ty Văn hoá Nam Hà sơ tán về xã Nhân Nghĩa, cách thành phố gần 20 cây số, Nguyễn Bính lúc ấy công tác ở ty văn hoá nên cũng đi theo, nhưng gia đình vợ con cũng phải bám sát vòng đai ngoại thành, đông dân sơ tán để buôn bán kiếm ăn, ở xã Nhân Hậu. Việc đi lại rất vất vả, Nguyễn Bính thường nói với anh em mong có cái xe đạp để đi. Nhưng đã nhiều đợt cơ quan phân phối xe đạp giá rẻ mà nhà thơ chưa được.</p>
        <p>Một chiều, Nguyễn Bính cùng một số anh em phòng Sáng Tác ngồi chơi mát trên bờ sông Châu, có cả thủ trưởng Ty Văn hoá cũng ngồi đó cả. Một ông bạn đố Bính:</p>
        <p>- Ngày xưa Tào Thực, 7 bước thành thơ, nay để 7 phút anh có thể làm được một bài thơ hay không? Đầu bài là " Chồng ở Nhân Nghĩa, vợ ở Nhân Hậu".</p>
        <p>Bính nói:</p>
        <p>- Có hai thủ trưởng và anh em đây, tôi xin đọc luôn thơ, chứ cần gì đến 7 phút. - Rồi Bính đọc:</p>
        <div class="poem">
            <p>Chồng thì Nhân Nghĩa, vợ Nhân Hậu</p>
            <p>Mười lăm cây số, đường độc đạo!</p>
            <p>Không tiền, trời nắng lại không xe,</p>
            <p>Khổ muốn kêu trời, trời có thấu?</p>
        </div>
        <p>Khi đọc đến câu cuối, Bính gật gật về phía hai thủ trưởng, như nói với “hai ông Trời”: “Khổ muốn kêu trời trời có thấu?”</p>
        <p>Anh bạn đố Bính nói:</p>
        <p>- Câu đầu chơi chữ thật hay, đổi một chữ “thì” như lời tự bạch: “Vợ chồng tôi nhân nghĩa, nhân hậu lắm, nên nghèo, không xe…”. Nhưng tôi nghĩ đã “đạo” lại còn “đường” (đường độc đạo) sợ có thừa chữ không?</p>
        <p>Bính hỏi:</p>
        <p>- Ông bạn ơi, chúng ta đang ngồi ở sông nào đây?</p>
        <p>- Sông Châu Giang.</p>
        <p>- À, sông Châu Giang cũng như sông Hồng Hà, thì cũng như “đường độc đạo”, chẳng nhẽ gọi là “đường độc” ư?</p>
        <p>Mọi người đều cười. Và hai thủ trưởng cơ quan cũng nháy mắt nhau, xem chừng đã “thấu”. Mấy hôm sau, Nguyễn Bính được cấp phiếu mua một xe đạp giá rẻ thật!</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong19"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong21"></a>
        </div>
    </ion-content>
</ion-view>
