<ion-view view-title="Chương 4">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Câu chuyện “Lỡ bước sang ngang”</h4>
        <p>Đọc “Lỡ bước sang ngang” ngày xưa, nhiều người đã thắc mắc: Một cô gái mười bảy tuổi đi lấy chồng, không thấy nói ép gả, không thấy nói không có tình yêu vậy mà sao đoạn đầu tả ngày cưới buồn thế</p>
        <div class="poem">
            <p>… Lần này chị bước sang ngang</p>
            <p>Là tan vỡ giấc mộng vàng từ đây…</p>
            <p>Cũng là thôi, cũng là đành</p>
            <p>Sang ngang lỡ bước riêng mình chị đâu ?</p>
        </div>
        <p>Chưa về nhà chồng mà đã lo “lỡ bước” là làm sao? Lại nữa, nhiều bài thơ tác giả đề tặng:Gửi chị Trúc. Vậy chị Trúc là ai? Có chị Trúc thật không?</p>
        <p>Thì ra có một chị Trúc thật. Tên thực chị là Lê Thị N. Th. khá đẹp và có tâm hồn mơ mộng. Chị đã có chồng là ông chủ một hiệu ảnh ở đường Hà Nội-Hà Đông. Gia đình chị không có hạnh phúc, luôn mâu thuẫn, rất khổ tâm. Sau chị yêu nghệ sĩ Trúc Đường là anh ruột Nguyễn Bính:</p>
        <div class="poem">
            <p>“Dừng chân trên bến sông buồn,</p>
            <p>Nhà nghệ sĩ tưởng đò còn chuyến sang?”</p>
            <p>…“Chị từ dan díu với tình,</p>
            <p>Đời tươi như buổi bình minh nạm vàng…”</p>
        </div>
        <p>Hai người đã quyết tâm lấy nhau, đã thuê nhà ở riêng… Nhưng rồi sau mối tình không thành:
        </p>
        <div class="poem">
            <p>… Rồi đêm kia lệ ròng ròng,</p>
            <p>Tiễn đưa người ấy sang sông chị về…</p>
        </div>
        <p>Nguyễn Bính lấy tên hiệu anh mình gọi chị là chị Trúc. Cảm động vì mối tình đau khổ dở dang, lại được chị Trúc rất yêu mến chiều chuộng, Nguyễn Bính đã làm một bài thơ dài tặng anh chị. Bài thơ dài 110 câu chính là để kỷ niệm 110 ngày (hơn ba tháng) anh chị mình đã gắn bó trong tình yêu hạnh phúc.</p>
        <p>Biết được xuất xứ bài này, bây giờ ta có thể hiểu khá rõ ràng từng câu chữ trong thơ Lỡ bước sang ngang.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong3"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong5"></a>
        </div>
    </ion-content>
</ion-view>
