<ion-view view-title="Chương 28">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Dấu son trên má</h4>
        <p>Hồi Nguyễn Bính yêu A.T. Một lần sôi nổi Bính hôn lên môi người yêu! A.T con gái tỉnh nhỏ, tỏ vẻ ngây thơ sợ sệt, ngượng ngùng. Bính bèn rút luôn giấy bút làm một bài thơ tặng:</p>
        <div class="poem">
            <p>Anh đi chẳng hẹn ngày về,</p>
            <p>Chỉ thề ai buộc, tóc thề ai chôn.</p>
            <p>Muốn gì? Em muốn gì hơn?</p>
            <p>Hôn hoàng nay lại hoàng hôn mai ngày.</p>
            <p>Môi khô, tóc liễu, thân gầy,</p>
            <p>Anh xa, em kẻ lông mày với ai?</p>
            <p>Thơ không làm trọn một bài,</p>
            <p>Đàn không gượng gẩy một vài khúc ngâm.</p>
            <p>Ông tơ già lắm nên nhầm,</p>
            <p>Ai cho xum họp, ai làm chia phôi.</p>
            <p>Chẳng thà đừng kết duyên đôi</p>
            <p>Có cho đoàn tụ, để rồi xa nhau.</p>
            <p>Tính năm, tính tháng thêm rầu,</p>
            <p>Ấy hai con én ngang lầu bay bay...</p>
        </div>
        <p>Bài thơ tiên đoán được những khó khăn khó thành công. Riêng A.T khi nhận ra những chữ đầu câu là “Anh chỉ muốn hôn môi A.T. Đàn ông ai chẳng có tính ấy” thì vừa yêu mến,vừa cảm phục, bèn ôm hôn lại vào má Nguyễn Bínhmột cái. Đôi môi son in dấu đỏ tươi!</p>
        <p>Về đến Hà Nội, Nguyễn Bính vẫn còn giữ dấu son trên má ấy. Các bạn thơ như Hồ Tăng ấn, Trúc Sơn, Trần Huyền Trân, Thâm Tâm xúm vào đùa chế. Nguyễn Bính mặc kệ còn tuyên bố:</p>
        <p>- Ngày xưa vua Tự Đức còn khóc Bàng Phi, có câu:</p>
        <div class="poem">
            <p>Đập cổ kinh ra tìm lấy bóng</p>
            <p>Xếp tàn y lại để dành hơi...</p>
        </div>
        <p>Mình không thể có gương mà tìm bóng, không có quần áo cũ để tìm hơi, chỉ có dấu đôi môi son của nàng, còn quý hơn, thì phải giữ gìn trân trọng chứ.</p>
        <p>Không biết sẽ giữ bao lâu, nếu không có Vũ Hoàng Chương phê phán:</p>
        <p>- Dấu son trên má thì quý cái nỗi gì? Hoặc là cô ta chưa yêu cậu say đắm, hoặc là cô ta quê kiềng quá, không dám hôn môi. Giữ làm gì?</p>
        <p>Tuy vậy, Bính cũng không giữ được đến ngày thứ bảy.</p>
        <p>Tô Hoài còn kể hồi đó đến khổ vì hai anh bạn thơ đó là Vũ Hoàng Chương và Nguyễn Bính. Có lần Tô Hoài đi giữa, hai người khoác tay đi hai bên. Hai chàng thi sĩ đa tình, rượu say chếnhchoáng vừa đi vừa ngâm thơ tình oang oang. Vũ Hoàng Chương thì rền rĩ:</p>
        <div class="poem">
            <p>Tố của Hoàng ơi! Tố của ta,</p>
            <p>Nguyễn Bính thì nghêu ngao:</p>
            <p>Ta cười: Bữa ấy mình toan giữ,</p>
            <p>Mãi mãi dấu son trên má mình.</p>
            <p>Kể cũng là những cuồng sĩ!</p>
        </div>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong27"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong29"></a>
        </div>
    </ion-content>
</ion-view>
