<ion-view view-title="Chương 23">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Sông Thương nước chảy đôi dòng</h4>
        <p>Trong đời Nguyễn Bính có nhiều mối tình song đều “sang ngang lỡ bước” cả! Dạo ấy ở Bắc Giang có “Tao đàn Sông Thương” gồm toàn nữ sĩ khá thu hút bốn phương. Nguyễn Bính cùng Vũ Hoàng Chương... đã về chơi với Bằng Bá Lân quê ở đó, nhân thăm thú Tao Đàn. Sau đó Nguyễn Bính yêu nữ sĩ V.A. Kể ra hai người thật đẹp đôi, cùng là thi sĩ. Cùng khuynh hướng sáng tác về “hương đồng gió nội”...Nhưng thật lạ kỳ, cứ như chuyện Trương Chi vậy. V.A, rất mê thơ Nguyễn Bính và Nguyễn Bính cũng thích thơ V. A. Nhưng hễ gặp nhau là nàng “Mỵ Nương” lại vỡ mộng! Không biết vì Nguyễn Bính nom “chân quê” quá, hay ngược lại nàng sợ chàng thi sĩ kinh thành” Đa đoan vó ngựa chung tình bánh xe” hay vì gì nữa?</p>
        <p>Cuối cùng mối tình tan vỡ.</p>
        <p>Ngồi trên tàu về hà Nội. Nguyễn Bính đọc cho Vũ Hoàng Chương nghe mấy câu tâm sự:</p>
        <div class="poem">
            <p>Sông Thương nước chảy đôi dòng</p>
            <p>Bao giờ bên đục bên trong hài hoà?</p>
            <p>Ngậm ngùi một bước một xa,</p>
            <p>Đến đây là... đến đây là... là thôi...</p>
        </div>
        <p>Sau này nghe V.A đi lấy chồng, Nguyễn Bính đã hoàn chỉnh bài thơ trên. Đó là bài:</p>
        <div class="poem">
            <p>Cao tay nâng chén rượu hồng,</p>
            <p>Mừng em, em sắp lấy chồng xuân nay,</p>
            <p>Uống đi em, uống cho say,</p>
            <p>Để trong mơ sống những ngày xuân qua.</p>
            <p>Thấy tình duyên của đôi ta,</p>
            <p>Đến đây là...đến đây là... là thôi!</p>
            <p>Em đi dệt mộng cùng người,</p>
            <p>Lẻ loi xuân một góc trời, riêng anh.</p>
        </div>
        <p>Sau đó, Nguyễn Bính còn viết cả một tập thơ “Hương- cố nhân” (Hương là bí danh của V.A dùng để viết thư cho Nguyễn Bính) có câu đề từ:</p>
        <div class="poem">
            <p>Xây bao nhiêu mộng, thế mà</p>
            <p>Đến nay phải gọi người là cố nhân.</p>
        </div>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong22"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong24"></a>
        </div>
    </ion-content>
</ion-view>
