<ion-view view-title="Chương 15">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Chơi chữ C</h4>
        <p>Nữ sĩ N. hồi đầu cách mạng tháng Tám năm 1945 có cảm tình với một cán bộ cách mạng đã khá cao tuổi (gấp đôi tuổi nữ sĩ) nên anh em thường đùa chế. Một lần đồng chí cán bộ kia bị ốm, nữ sĩ mua chục cam đến thăm, chẳng hiểu vì sao lại bị từ chối. Từ đó nữ sĩ cắt đứt quan hê.
        </p>
        <p>Năm 1945 tập kết ra Bắc, Nguyễn Bính đến thăm nữ sĩ và được nữ sĩ mời ăn cam. Nhớ lại chuyện xưa cũ, khi về Nguyễn Bính giấu để xuống dưới đĩa cam 2 câu thơ đùa toàn phụ âm C:
        </p>
        <div class="poem">
            <p>Cô cầm cam, cụ cầm cờ, cô cứ cỳ cèo co céo cụ</p>
            <p>Cụ càng cao, cô càng cáu, cô càng cay cú cái con cò!</p>
        </div>
        <p>Khi đọc, nữ sĩ giận lắm và từ đó cũng cắt đứt quan hệ với Nguyễn Bính. Thật khổ thay vì cái tội hay chữ chơi chữ. Bạn bè biết chuyện cũng đặt một câu đùa thêm:</p>
        <div class="poem">
            <p>Chơi chữ cam, chơi chữ chua cay, câu chuyện cũ càng, còn cáu kỉnh. Cô cấm cửa, cuối cùng cũng cắt.</p>
        </div>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong14"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong16"></a>
        </div>
    </ion-content>
</ion-view>
