<ion-view view-title="Chương 29">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Thi dịch thơ</h4>
        <p>Hôm ấy ở toà soạn báo “Tiểu thuyết thứ 5”mọi người đang bàn chuyện dịch thơ chữ Hán. Cao hứng, Nguyễn Bính nói:</p>
        <p>- Hôm nay có nhiều bài thơ, nhà dịch, nhà lý luận...Các nhà Hán học uyên thâm cả, ta chơi thi dịch thơ nào? Bây giờ ngài chủ bút chọn bài chữ hán nào đó, tuỳ ý - coi như đặt bài. Chúng ta cùng dịch, ai xong trước, dịch hay, là thắng cuộc. Giải thưởng xin đề nghị ngài chủ bút chi tiền nhuận bút ngay mà thôi.</p>
        <p>Mọi người tán thành. Chủ bút Lê Tràng Kiều bèn đọc một bài thơ đường:</p>
        <div class="poem">
            <p>“Hoàng mai thời thiết gia gia vũ</p>
            <p>Phương thảo trì đường cứ cứ oa</p>
            <p>Hữu ước bất lai hoa dạ bán</p>
            <p>Nhàn soa kì tử lạc đăng hoa”.</p>
        </div>
        <p>Ai nấy cầm bút, gạch gạch xoá xoá, Nguyễn Bính không cầm bút nháp gì cả, một lúc đọc luôn:
        </p>
        <div class="poem">
            <p>Ao hồ tiếng ếch gần xa,</p>
            <p>Cỏ thơm ngào ngạt, ngoài nhà mưa rơi.</p>
            <p>Nửa đêm cái hẹn sai rồi.</p>
            <p>Quân cờ gỗ nhảm làm rơi hoa đèn.</p>
        </div>
        <p>Ai cũng công nhận hai câu kết thật là sáng tạo, “mô - đéc”. Lê Tràng Kiều lại đọc một bài thơ Tình sử:</p>
        <div class="poem">
            <p>Nhật ấp Xuân giao vạn lý tình,</p>
            <p>Đoạn trường phương thảo, đoạn trường oanh.</p>
            <p>Nguyệt tương song lệ đồ vi vũ,</p>
            <p>Minh nhật lưu quan bất xuất thành.</p>
        </div>
        <p>Một lúc sau, Nguyễn Bính lại dịch xong trước tiên:</p>
        <div class="poem">
            <p>Một chén tiễn đưa tình vạn lý,</p>
            <p>Oanh buồn rầu rĩ, cỏ buồn phai.</p>
            <p>Mong đem lệ tưới thành mưa lớn.</p>
            <p>Ngăn bước đường anh buổi sớm mai.</p>
        </div>
        <p>Lê Tràng Kiều “nháy nháy mắt” với Nguyệt Hồ cười khà khà:</p>
        <p>- Thôi, bây giờ đọc một bài ngũ ngôn, dễ hơn cho các dịch giả nhé:</p>
        <div class="poem">
            <p>Đoạn đạm trường giang thuỷ</p>
            <p>Du du tống khách tình,</p>
            <p>Lạc hoa tương dữ hận</p>
            <p>Đáo địa nhất vô thanh.</p>
        </div>
        <p>Lần này học sĩ Nguyệt Hồ lên tiếng đầu tiên:</p>
        <div class="poem">
            <p>Trường giang nước chảy dầu dầu,</p>
            <p>Tiễn đưa một chén dạ sầu đôi nơi,</p>
            <p>Nhìn theo hoa rụng tơi bời,</p>
            <p>Hoa kia cũng hận cho người biệt ly.</p>
        </div>
        <p>Nguyễn Bính khen:</p>
        <p>- Hoạ sĩ nhanh nhỉ. Song còn câu cuối bỏ không dịch ư? Bài của tôi dịch thế này:</p>
        <div class="poem">
            <p>Nước Trường giang êm trôi,</p>
            <p>Tiễn khách lòng bồi hồi.</p>
            <p>Hoa buồn rơi thật nhẹ,</p>
            <p>Hoa cũng hận cho người.</p>
        </div>
        <p>Chủ bút cười:</p>
        <p>- Được, được, khá cả. Chấp nhận cả hai bài. Sau đây mình đọc một số bài thơ cổ sử, các vị đã dịch xem sao?</p>
        <div class="poem">
            <p>Nga nga lưỡng nga nga</p>
            <p>Ngưỡng diện hướng thiên nha</p>
            <p>Bạch mao phô lục thuỷ,</p>
            <p>Hồng trạo mãi thanh ba.</p>
        </div>
        <p>Bài này Nguyệt Hồ lại dịch xong trước:</p>
        <div class="poem">
            <p>Hai con nga lội giữa dòng,</p>
            <p>Nghiêng nghiêng đôi mỏ, ngừng trông chân giời</p>
            <p>Bồng bềnh mặt sóng chơi vơi,</p>
            <p>Mỏ vàng, chân đỏ, lông phơi trắng ngần. (1)</p>
        </div>
        <p>Mọi người vỗ tay khen hoạ sĩ, Nguyễn Bính ngạc nhiên, vò đầu bứt tai bực bội nói:</p>
        <p>- Được rồi, bây giờ được câu nào mình xào luôn câu đấy!</p>
        <p>Lê Trang Kiều cười, vừa a ê đọc một câu:</p>
        <div class="poem">
            <p>Cánh hoa, nhiên viễn, thiên nhai cạn</p>
            <p>(Cách nhau có 1 luống hoa mà sao cảm thấy em xa xôi thế, chân trời còn gần hơn.)</p>
        </div>
        <p>Chưa đọc kịp cả bài. Nguyễn Bính đã dịch luôn:</p>
        <div class="poem">
            <p>Anh nhìn qua cụm hoàng hoa,</p>
            <p>Chân trời gần gũi, em xa vạn nghìn.</p>
        </div>
        <p>Mọi người phá lên cười, nhưng đều chịu Bính dịch nhanh và hay. Chủ bút sợ giả nhuận bút nhiều quá, nên cuộc thi dịch thơ dừng tạm ở đấy.</p>
        <p class="note">(1) Sau Lê Tràng Kiều tiết lộ sợ Bính giật hết giải ông đã đọc hai bài sau mà ông biết Nguyệt Hồ đã dịch từ trước, cốt chơi khăm Nguyễn Bính.</p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong28"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong30"></a>
        </div>
    </ion-content>
</ion-view>
