<ion-view view-title="Chương 21">
    <ion-nav-buttons side="right" ng-show="false">
        <a class="button button-icon button-clear ion-home" nav-clear menu-close href="#/app/about">
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h4>Liên ngâm đả Tây</h4>
        <p>Nguyễn Vĩ, chủ bút báo Pháp – Việt, cũng như các chủ bút báo khác, thường tìm mọi cách tranh thủ tên R.Cơ-ray-sắc (Renes Craysac).Chánh văn phòng Kiểm duyệt sở mật thám Hà Nội. Tên này là một tên cáo già thực dân, giỏi chữ Hán, thạo tiếng Việt, ăn cả thịt chó mắm tôm và cá gỏi…</p>
        <p>Một hôm Nguyễn Vĩ mời được Cray-sắc đi hút thuốc phiện ở Khâm Thiên, có Nguyệt Hồ và Nguyễn Bính tháp tùng.</p>
        <p>Khi đã say sưa, nằm bên bàn đèn, thấy trên đèn dầu lạc có 4 chữ hán, Cray-sắc đọc: “Phi yến thu lâm” (Rừng thu yến bay), rồi hắn dịch nhại, giọng Tấy lơ lớ, thành: “Phiện thú lắm”. Và hắn đề nghị liên ngâm một bài thơ với tiêu đề ấy.</p>
        <p>Nguyễn Vĩ ngẫm nghĩ một lúc rồi đọc</p>
        <div class="poem">
            <p>Phi Yến thu lâm lắm cái hay!</p>
        </div>
        <p>Nguyễn Bính đáp:</p>
        <div class="poem">
            <p>Nằm trên giường như nằm trên mây.</p>
        </div>
        <p>Cray-sắc cười nói:</p>
        <p>- Moa ghép một câu tiếng Pháp, song chắc người An Nam ai cũng hiểu:</p>
        <div class="poem">
            <p>Uyn, đơ ,troa, cát, ken-cờ píp</p>
        </div>
        <p>Mọi người khen được. Và Nguyệt Hồ đọc câu kết khá giật gân:</p>
        <div class="poem">
            <p>Đánh đổ người Nam đánh đổ Tây!</p>
        </div>
        <p>Cray-sắc trợn mắt:</p>
        <p>- Nguyệt Hồ có tư tưởng gớm nhỉ!</p>
        <p>Nguyệt Hồ từ tốn:</p>
        <p>- Bẩm ngài nghĩ lại xem, có đúng không Ngài và chúng tôi đổ vì nó cả.</p>
        <p>Nguyễn Vĩ đỡ thêm:</p>
        <p>- Thôi, xin ngài bỏ quá, hoạ sĩ say, và hoạ sĩ bất đắc dĩ phải làm thơ mà…</p>
        <p>Sau Cray-sắc cũng cho qua. Rồi mọi người đi vào tán mãi câu thơ hay mỗi vẻ như thế nào.
        </p>
        <p>- Câu đầu “lắm cái hay” là những cái hay gì? Người ta liên tưởng đến câu Kiều:</p>
        <div class="poem">
            <p>Ở trong còn lắm điều hay,</p>
            <p>Nỗi đêm khép mở, nỗi ngày riêng chung...</p>
        </div>
        <p>- Câu thơ Nguyễn Bính thì cố tình phá luật, dùng toàn thanh bằng, lâng lâng bay bổng, đúng đúng là cái đi mây về gió của thuốc phiện...</p>
        <p>- Câu 3 không thể nhầm là của ông Tây làm thơ An Nam. Tây cũng hiểu mà ta cũng hiểu.</p>
        <p>Còn câu kết không ai dám bình, nhưng chính Cray-sắc cũng công nhận là rất hay! (Très bon!).
        </p>
        <div class="button-bar">
            <a class="button icon ion-chevron-left" href="#/app/chuong20"></a>
            <a class="button" href="#/app/chaplists">DS chương</a>
            <a class="button icon ion-chevron-right" href="#/app/chuong22"></a>
        </div>
    </ion-content>
</ion-view>
