/* Empty. Add your own CSS if you like */
.poem {
	font-style: italic;
	border-left: 1px solid #B5B0B0;
	padding-left: 8px;
	margin: 20px auto;
}
.note {
	font-style: italic;
	border-top: 1px solid #B5B0B0;
	padding: 10px 0;
}
.button.disable {
	cursor: not-allowed;
	opacity: 0.5;
}